* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  /* overflow: hidden; /* Hide scrollbars */
  font-size: 18px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  * {
    font-size: 14px;
  }

  .item {
    width: 90vw;
  }
  
  .grid-item,
  .grid-item.collapsed {
    grid-row: auto;
  }
}

body {
  font-family: 'Lucida Console', monospace;
  font-weight: 800;
  color: #ffffff;
  line-height: 1.6;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#dataForm {
  flex: 1;
  opacity: 0.8;
  --cube_size: 16vmin;
  --color_top: #171717;
  --color_left: #0d0d0d;
  --color_right: #121212;
  
  --_rotation: 0 120deg,#0000 0;
  background:
    conic-gradient(             at calc(250%/3) calc(100%/3),var(--color_right) var(--_rotation)),
    conic-gradient(from -120deg at calc( 50%/3) calc(100%/3),var(--color_left) var(--_rotation)),
    conic-gradient(from  120deg at calc(100%/3) calc(250%/3),var(--color_top) var(--_rotation)),
    conic-gradient(from  120deg at calc(200%/3) calc(250%/3),var(--color_top) var(--_rotation)),
    conic-gradient(from -180deg at calc(100%/3) 50%,var(--color_left)  60deg,var(--color_top) var(--_rotation)),
    conic-gradient(from   60deg at calc(200%/3) 50%,var(--color_top)  60deg,var(--color_right) var(--_rotation)),
    conic-gradient(from  -60deg at 50% calc(100%/3),var(--color_top) 120deg,var(--color_left) 0 240deg,var(--color_right) 0);
  background-size: calc(var(--cube_size)*sqrt(3)) var(--cube_size);
}

::selection {
  color: black;
  background: #ff4060;
}

label {
  margin-left: 8px;
}

input {
  padding: 6px;
  margin: 4px;
}

/* Slider */
input[type="range"] {
  width: 100%;
  border: none;
}

input[type="range"]::-moz-range-progress {
  accent-color : red;
  background-color: #ff4060; 
  color: #ff4060;
}

input[type="range"]::-moz-range-track {  
  background-color: #333333;
}

/* Text */
input[type="text"] {
  margin: 10px 0px;
  width: 100%;
}

input[type="text"]:focus {
  outline: 2px solid #ff4060;
  border-color: #00000000;
}

input[type="checkbox"] {
  margin: 0px;
  height: 0;
  width: 0;
  visibility: hidden;
}

.checkbox-label {
  margin: 0px;
  cursor: pointer;
  text-indent: -9999px;
  width: 4.4vh;
  height: 2.2vh;
  background: grey;
  border-radius: 2vh;
  position: relative;
  background-color: #444444;
}

.checkbox-label:after {
  content: "";
  position: absolute;
  top: 0.2vh;
  left: 0.2vh;
  width: 1.8vh;
  height: 1.8vh;
  background: #ffffff;
  border-radius: 20px;
  transition: 0.3s;
}

input:checked + .checkbox-label {
  background: #ff4060;
}

input:checked + .checkbox-label:after {
  left: calc(100% - 0.2vh);
  transform: translateX(-100%);
}

.checkbox-label:active:after {
  width: 1.8vh;
}

/* Buttons */
input,
button {
  background-color: #00000000;
  color: #ffffff;
  border: 2px solid #555555;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.4s ease;
}

button {
  padding: 10px;
}

input[type="color"] {
  width: 40%;
  height: 60px;
  border: none;
}

button:hover {
  background-color: #222222;
  color: #000000;
  box-shadow: 0px 0px 50px #222222;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #ff406050;
  padding: 10px 20px;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #ff4060;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#dropZone {
  height: 100%;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: 2px dashed #555555;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

#drop_zone.dragover {
  border-color: #000000;
  color: #000000;
}

#progressBar {
  -webkit-progress-value: { background: #ff4060; }
  -moz-progress-value: { background: #ff4060; }
  appearance: none;
  background-color: #222222;
  border: none;
  color: #ff4060;
  border-radius: 20px;
  margin: 10px 5px;
  height: 20px;
}

#gradient {
  top: -8vh;
  left: -8vh;
  height: 16vh;
  width: 16vh;
  display: flex;
  opacity: 0.25;
  filter: blur(100px);
  background: radial-gradient(rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%); 
  position: absolute;
  mix-blend-mode: lighten;
  pointer-events: none; /* Prevents interaction with other elements */
}

.highlighted {
  color: #ff4060;
  font-weight: 500;
  text-shadow: none;
}

.separator {
  border: 1px dashed #555555;
  margin: 16px 0px;
  width: 90%;
  align-self: center;
}

.grid-container { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-flow: dense;
  gap: 40px;
  width: 90vw;
  max-width: 2000px;
  margin: 20px auto;
}

.item {
  background-color: #22222250;
  backdrop-filter: blur(0.6vmax);
  border-radius: 20px;
  border: 1px solid #55555570;
  color: #ffffff;
  text-align: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  grid-row: span 3;
}

.item.collapsed {
  grid-row: span 1;
}

.item-header {
  background-color: #222222;
  padding: 5px 5px 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid #ff406080;
}

.item-content {
  line-height: 1;
  padding: 10px;
  max-height: 1000px;
  overflow-y: auto;
  transition: max-height 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  margin: 8px 0px;
  flex-direction: row;
  justify-content: left;
  font-size: 20em;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.slider-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20em;
  width: 100%;
}

.option-group-small,
.option-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 16px;
  border-bottom: 2px solid #000000; 
  border-top: 2px solid #ffffff20; 
  line-height: 1.5;
  padding: 2%;
  margin: 1%;
  text-align: left;
}

.option-group-small {
  min-width: 25%;
  align-items: center;
}

.option-group {
  min-width: 70%;
  max-width: 98%;
}


.item-header:hover {
  background-color: #333333;
}

.item-header h2 {
  margin: 0;
  font-size: 1.2em;
  color: #ff4060;
}

.toggle-btn {
  background: none;
  border: none;
  color: #ff4060;
  font-size: 1.2em;
  cursor: pointer;
  padding: 0 10px;
}

.item-content.collapsed {
  max-height: 0;
  padding: 0 20px;
  overflow: hidden;
}

.fileInput {
  display: none;
}

#imagePreviewSeparator {
  display: none;
}

.imagePreviewContainer {
  padding: 30px;
  display:none;
}

.previewImage {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border: #ff4060 dashed 2px;
  border-radius: 10px;
}

.popout {
  transform: translateZ(50px);
}

.ca {
  font-weight: 300;
  text-shadow: -0.5px 0px rgba(0, 255, 255, 1), -1px 0px rgba(0, 0, 255, 1), 0.5px 0px rgba(255, 255, 0, 1), 1px 0px rgba(255, 0, 0, 1);
}

#header {
  background-color: #121212;
  text-align: center;
  padding: 20px 0;
}

#footer {
  background-color: #0d0d0d;
  text-align: center;
  padding: 20px 0;
}
